.header {
    background-color: #013100;
    color: #FFD492;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
}


.sidebar {
    width: 250px;
    background-color: #44802A;
    color: #fff;
    position: fixed;
    top: 120px; 
    height: 90%;
    padding: 20px;
}

.logo {
    text-align: center; 
    margin-bottom: 20px;
}

.logo img {
    width: 100%;
    max-width: 150px;
    height: auto; 
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out; 
}

.logo img:hover {
    transform: scale(1.1); 
}


.menu {
    list-style: none;
    padding: 0;
}


.menu-item {
    margin-bottom: 0px;
}

.menu-item a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
}


.submenu {
    list-style: none;
    padding: 0;
    margin-left: 20px;
}

.submenu li {
    margin-bottom: 5px;
}

.submenu a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s; 
}


.menu-item i {
    margin-right: 10px;
}


.menu-item a:hover {
    background-color: #6C2F11;
    color: #FFD492;
}


.submenu a:hover {
    color: #FFD492;
}


.menu-item.active a {
    background-color: #6C2F11;
    color: #FFD492;
}
