/* Estilos para el formulario */
.content {
    margin-left: 320px; /* Margen izquierdo de 20px para separar del menú lateral */
    margin-top: 100px;
    padding: 20px; /* Espacio alrededor del formulario */
    width: 70%; /* Ancho del contenido, ajusta según tus necesidades */
    box-sizing: border-box; /* Incluye el relleno en el ancho total */
}

/* Aplica un estilo general al formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para etiquetas */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilo para campos de entrada */
input[type="text"],
input[type="email"],
input[type="password"],
select,
input[type="number"],
input[type="date"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

/* Estilo para el botón de envío */
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

/* Cambia el color del botón cuando se coloca el cursor sobre él */
input[type="submit"]:hover {
    background-color: #0056b3;
}
