body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5; 
    color: #a36e1f;
    margin: 0;
}


.container {
    background-color: #FFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: 80px auto;
    max-width: 600px;
    margin-top: 130px;
}

.form-group {
    margin-bottom: 20px; 
}

label {
    display: block;
    margin-bottom: 8px;
    color: #44802A; 
    font-weight: bold; 
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #44802A; 
    color: #FFF;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #6C2F11; 
}

.form-group div {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.form-group div label {
    margin-right: 16px;
}




